@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&family=Fraunces:ital,opsz,wght@1,9..144,600&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

body {
    background: radial-gradient(circle, #f2dab3, #eeb8d0);
    background-size: 300% 300%;
	animation: gradient 13s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (min-width: 1024px) {
    /* large screens */
    .navigation {
        display: flex;
        padding: 2em 0px;
        justify-content: center;
        text-align: center;
        gap: 3em;
    }

    .nav-button {
        font-family: Work Sans, sans-serif;
        font-size: 1.3em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: white;
        text-decoration: none;
    }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {  
    /* medium screens */
    .navigation {
        display: flex;
        padding: 1em 0px;
        justify-content: center;
        text-align: center;
        gap: 2em;
    }

    .nav-button {
        font-family: Work Sans, sans-serif;
        font-size: 1.3em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: white;
        text-decoration: none;
    }
}


@media screen and (max-width: 640px) {    
    /* small screens */
    .navigation {
        display: flex;
        padding: 1em 0px;
        justify-content: center;
        text-align: center;
        gap: 1em;
    }

    .nav-button {
        font-family: Work Sans, sans-serif;
        font-size: 1em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: white;
        text-decoration: none;
    }

    #home-positions {
        font-size: 100%;
    }
}

.nav-button:hover {
    font-family: Lora, sans-serif;
    color: #f26da7;
    font-style: italic;
}
.nav-button:active {
    font-family: Lora, serif;
    color: #CB668B;
    font-style: italic;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0%;
    

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
}

.name {
    color: #FFF;
    text-align: center;
    font-family: Work Sans, sans-serif;
    font-size: 8vw;
    font-style: normal;
    font-weight: 600;
    margin: .4em;
}

.work-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subheader {
    color: #FFF;
    text-align: center;
    font-family: Work Sans, sans-serif;
    font-size: 3vw;
    font-style: italic;
    font-weight: 500;
    line-height: 0;
}

.sub-subheader {
    color: #FFF;
    text-align: center;
    font-family: Work Sans, sans-serif;
    font-size: 1.7vw;
    font-style: italic;
    font-weight: 500;
    padding-bottom: 2em;
    margin-top: 0;
}

@media screen and (min-width: 640px) and (max-width: 1024px) {  
    /* medium screens */

    .subheader {
        font-size: xx-large;
    }

    .sub-subheader {
        font-size: large;
    }
}

@media screen and (max-width: 640px) {    
    /* small screens */

    .subheader {
        font-size: xx-large;
    }

    .sub-subheader {
        font-size: medium;
    }
}

.projects {
    width: 79.5vw;
    gap: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 0) and (max-width: 650px) {  
    /* small + medium screens */

    .projects {
        width: 79.5vw;
        height: 80vh;
        top: 0%;
        /* overflow-y: auto; */
        position: sticky;
        /* transform: translateY(100%); */
        gap: 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        margin-top: 40em;
        margin-bottom: 15em;
    }
}

/* @media screen and (max-width: 640px) {    
    /* small screens */

    .subheader {
        font-size: xx-large;
    }

    .sub-subheader {
        font-size: medium;
    }
} */


.project-link {
    text-decoration: none;
}

.project-img {
    width: 100%; 
    height: 30vh;
    max-width: 100%; 

    object-fit: cover;
    box-sizing: border-box;
    border: .35em solid #CB668B;
    border-bottom: none;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
}

.project-name {
    font-family: Work Sans, sans-serif;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: #CB668B;
    height: 7vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin: -1em auto;

    padding: 1.5em;

    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
}

.project-img:hover {
    border: .35em solid #A93A63;
}
.project-img:active {
    border: .35em solid #791439;
}

.project-name:hover {
    background-color: #A93A63;
    font-style: italic;
}
.project-name:active {
    background-color: #791439;
    font-style: italic;
}

.form-content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.content-navigation {
    margin-bottom: 4em;
}

.contact-subheader {
    margin-top: 0em;
    margin-bottom: .5em;;
}

.form-group {
    margin: 1em;
}

.label-title {
    color: white;
    margin-bottom: .5em;
    margin-top: .75em;

    font-family: Work Sans, sans-serif;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: white;
    text-decoration: none;
}

.input-box {
    width: 75vw;
    height: 3em;

    margin-top: .25em;

    border: .1em solid #CB668B;

    font-family: Work Sans, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
    text-decoration: none;

    padding-left: 1em;
    padding-right: 1em;

}

.input-box:focus {
    outline: .2em solid #91a194;
}

#messageInput {
    width: 75vw;
    padding: 1em;
    height: 8em;
    resize: vertical; 
    display: block;
}

.submit-btn {
    width: 55vw;
    height: 3em;
    background-color: #91a194;
    color: black;
    border: 0 solid #CB668B;
    margin: 1.5em auto;

    margin-top: .5em;
    margin-bottom: .8em;

    font-family: Work Sans, sans-serif;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: white;
    text-decoration: none;

    display: block;
}

.submit-btn:hover {
    width: 55vw;
    height: 3em;
    background-color: #CB668B;
    color: white;
    border: 0 solid #CB668B;
}

.submit-btn:active {
    width: 55vw;
    height: 3em;
    background-color: #CB668B;
    color: white;
    border: 0 solid #CB668B;
}

@media screen and (min-width: 1135px) {
    /* large screens */
    .more-contact {
        padding: 1.5em;
        border: .15em solid #CB668B;
        background-color: rgba(203, 102, 139, .3);
        border-radius: 2em;
        width: 23vw;
        height: 8vh;
    }
}

@media screen and (min-width: 640px) and (max-width: 1180px) {  
    /* medium screens */
    .contact-subheader {
        margin-top: 2em;
        margin-bottom: .5em;
        font-size: xx-large;
    }

    .more-contact {
        padding: 1.5em;
        border: .15em solid #CB668B;
        background-color: rgba(203, 102, 139, .3);
        border-radius: 2em;
        width: 38vw;
        height: 6vh;
    }

    #more-contact-header {
        padding-bottom: 0em;
        margin-bottom: .2em;
        font-style: normal;
        text-align: center;
        font-size: large;
    }
}

@media screen and (max-width: 640px) {    
    .subheader {
        font-size: 1.6em;
    }
    /* small screens */
    .more-contact {
        padding: 1.5em;
        border: .15em solid #CB668B;
        background-color: rgba(203, 102, 139, .3);
        border-radius: 2em;
        width: 62vw;
        height: 6vh;
    }

    #more-contact-header {
        padding-bottom: 0em;
        margin-bottom: .2em;
        font-style: normal;
        text-align: center;
        font-size: medium;
    }

    .link {
        text-decoration: none; 
        font-family: Work Sans, sans-serif;
        font-size: 2em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: white;
        text-decoration: none;
    }
    
}

#more-contact-header {
    padding-bottom: 0em;
    margin-bottom: .2em;
    font-style: normal;
    text-align: center;
}

.link {
    text-decoration: none; 
    font-family: Work Sans, sans-serif;
    font-size: 130%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: white;
    text-decoration: none;
}

.link:hover {
    font-family: Lora, sans-serif;
    color: #f26da7;
    font-style: italic;
}
.link:active {
    font-family: Lora, serif;
    color: #CB668B;
    font-style: italic;
}

.links {
    display: flex;
    justify-content: center;
    gap: 2em;    
}